<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>HappyDent</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- va fi explicat cand ajungem la CSS -->
        <meta name="keywords" content="medici, stomatolog, tratamente, sănătate orală"><!--cuvintele cheie ale paginii; majoritatea motoarelor de cautare ignora keywords -->
        <meta name="description" content="Clinica noastră te întâmpină cu o echipă de profesioniști și tratamente personalizate."><!-- descrierea paginii, adesea apare sub link cand sunt afisate rezultatele cautarii -->
        <meta name="author" content="Ana-Maria Vizireanu">  <!-- autorul/autoarea paginii--> 
        <link rel="stylesheet" href="resurse/css/despre.css" />
        <link rel="stylesheet" href="resurse/css/general.css" />
        <link rel="stylesheet" href="/resurse/css/galerie-statica.css">
        <link rel="stylesheet" href="/resurse/css/galerie-animata.css">


        
        <%- include("../fragmente/head.ejs")  %>
    </head>
    <body>
        <%- include("../fragmente/header.ejs")  %>

        <main> 
            <%- include("../fragmente/galerie.ejs")  %>

            <script>
                let current = 0;
                const patrate = document.querySelectorAll('.galerie-animata .patrat');
              
                setInterval(() => {
                  patrate.forEach(p => p.classList.remove('activ'));
                  patrate[current].classList.add('activ');
                  current = (current + 1) % patrate.length;
                }, 2000);
              </script>
              
              
        </main>
    
        <%- include("../fragmente/footer.ejs")  %>
        

        
        
    </body>
</html>