h2{
    padding:0.4rem;
}
#art-serviciu{
    margin:0 auto;
    width:70%;
    max-width:700px;
    background-color: var(--cl-light-t);
    box-shadow: 0px 0px 10px 5px grey;
    padding:0.4rem;
}

#art-serviciu p{
    margin:0;
    padding:0.4rem;
    font-weight:bold;
    font-size:1.1rem;
}

#art-serviciu p span{
    font-weight: normal;
}
#art-serviciu p:nth-of-type(even){
    background-color: var(--culoare-roz-inchis);
}
#art-serviciu p:nth-of-type(odd){
    background-color: var(--cl-marcare);
}
.imag-serviciu{
    text-align: center;
}
.imag-serviciu img{
    width:50%;
    height:auto;
}

.similare {
    display: flex;
    flex-direction: row;
    gap: 1rem; /* spațiu între imagini, opțional */
    flex-wrap: nowrap; /* sau wrap dacă vrei să treacă pe rândul următor la overflow */
    justify-content: center;
    align-items: flex-start;
}

.similare img {
    width: 300px;   /* sau cât dorești, ex: 200px */
    height: auto;
    object-fit: cover;
    border-radius: 10px; /* opțional, colțuri rotunjite */
    box-shadow: 0 2px 8px rgba(0,0,0,0.08); /* opțional, umbră */
}

@media screen and (max-width: 700px){
    #art-serviciu{
        margin:0 auto;
        width:95%;
    }
}