<footer id="Footer">
            <a href = "#" id = "link-top">
                <div id = "triunghi"></div>
                <div id = "linie"></div>
                <span class="tooltip">Link inceput</span>
            </a>
            <small>
                &copy; <time datetime="2025-03-04">2025</time> HappyDent. Toate drepturile rezervate.
            </small>
            <p><a href="https://anpc.ro/" target="_blank" rel="noopener noreferrer">ANPC</a></p>
        </footer>
