<header class="c1" id="titlu"> 
            <h1 class="header-title">Clinica Stomatologica - HappyDent</h1>
            <i class="fa-solid fa-tooth fa-spin" id="icon-dinte"></i>
        </header>    
            <nav>
                <label id="hamburger" for="ch-menu">
                    <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">
                </label>
                <input id="ch-menu" type="checkbox">
                <ul class="meniu">
                    
                    <li><div class="text-icon" id="Despre">Acasa</div><div class="imag-icon" id="acasa-mediu"><span class="fa-duotone fa-solid fa-house"></span></div>
                        <ul>
                            <li><a href="#Prezentare">Prezentare</a></li>
                            <li><a href="#De%20ce%20să%20alegi%20HappyDent?">De ce să alegi HappyDent?</a></li>
                        </ul>
                    </li>    
                    <li><div id="Medici">Medici</div></li>
                    <li><div id="Servicii">Servicii</div>
                        <ul>
                            <li><a href="#Edodonție">Edodonție</a></li>
                            <li><a href="#Estetică%20Dentară">Estetică Dentară</a></li>
                            <li><a href="#Implantologie">Implantologie</a></li>
                            <li><a href="#Ortodențe">Ortodențe</a></li>
                            <li><a href="#Profilaxie%20și%20Igienizare%20Dentară">Profilaxie și Igienizare Dentară</a></li>
                            <li><a href="#Radiologie">Radiologie</a></li>
                        </ul>
                    </li>
                    <li><div id="Tarife">Tarife</div></li>
                    <li><div class="text-icon" id="Contact">Contact</div><div class="imag-icon" id="contact-mediu"><span class="fa-duotone fa-solid fa-phone"></span></div>
                        <ul>
                            <li><a href="#Telefon">Telefon</a></li>
                            <li><a href="#Email">Email</a></li>
                            <li><a href="#Locatie">Locatie</a></li>
                            <li><a href="#Progra%20de%20lucru">Program de lucru</a></li>
                        </ul>
                    </li>    
                    
                </ul>
            </nav>