<header class="c1" id="titlu"> 
            <h1 class="header-title">Clinica Stomatologica - HappyDent</h1>
            <i class="fa-solid fa-tooth fa-spin" id="icon-dinte"></i>
        </header>    
            <nav>
                <input id="ch-menu" type="checkbox">
                <label id="hamburger" for="ch-menu">
                    
                    <div class="hamburger-meniu">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>

                    <!-- <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu"> -->
                </label>
                
                <ul class="meniu">
                    
                    <li><div class="text-icon" id="Despre">Acasa</div><div class="imag-icon" id="acasa-mediu"><span class="fa-duotone fa-solid fa-house"></span></div>
                        <ul>
                            <li><a href="/despre#Prezentare">Prezentare</a></li>
                            <li><a href="/despre#De%20ce%20să%20alegi%20HappyDent?">De ce să alegi HappyDent?</a></li>
                            <li><a href="/galerie">Galerie</a></li>
                        </ul>
                    </li>    
                    <li><div id="Medici">Medici</div></li>
                    <li><div id="Servicii">Servicii</div>
                        <ul>
                            <li><a href="/index#Edodonție">Edodonție</a></li>
                            <li><a href="/index#Estetică%20Dentară">Estetică Dentară</a></li>
                            <li><a href="/index#Implantologie">Implantologie</a></li>
                            <li><a href="/index#Ortodențe">Ortodențe</a></li>
                            <li><a href="/index#Profilaxie%20și%20Igienizare%20Dentară">Profilaxie și Igienizare Dentară</a></li>
                            <li><a href="/index#Radiologie">Radiologie</a></li>
                        </ul>
                    </li>
                    <li><div id="Tarife">Tarife</div></li>
                    <li><div class="text-icon" id="Contact">Contact</div><div class="imag-icon" id="contact-mediu"><span class="fa-duotone fa-solid fa-phone"></span></div>
                        <ul>
                            <li><a href="/index#Telefon">Telefon</a></li>
                            <li><a href="/index#Email">Email</a></li>
                            <li><a href="/index#Locatie">Locatie</a></li>
                            <li><a href="/index#Progra%20de%20lucru">Program de lucru</a></li>
                        </ul>
                    </li>    
                    
                </ul>
            </nav>