@charset "UTF-8";
#grid-galerie {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 coloane */
  gap: 1rem; /* spațiu între imagini, opțional */
}

#galerie-animata {
  width: 400px;
  height: 400px;
  margin: 2em auto;
  border: 20px solid transparent;
  border-image: url("/resurse/imagini/border.png") 30 stretch;
  overflow: hidden;
  display: none;
}
@media screen and (min-width: 1200px) {
  #galerie-animata {
    display: block;
  }
}
#galerie-animata:hover .container-grid {
  animation-play-state: paused;
}
#galerie-animata .container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  transform: scale(3);
  animation: galerieZoom 4s infinite alternate;
  transition: transform 1s ease-in-out;
}
#galerie-animata .patrat {
  width: 100%;
  height: 100%;
}
#galerie-animata .patrat img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes galerieZoom {
  0%, 100% {
    transform: scale(3);
  }
  50% {
    transform: scale(1);
    transform-origin: center;
  }
}